<mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title > <h1>Crear Servicio</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <div>
        <input  #Nom class="cont" matInput placeholder="Nombre Servicio" type="text">
        <br>
      </div>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <div>
        <input  #Desc class="cont" matInput placeholder="Descripción" type="text">
        </div>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <div>
        <input  #Cap class="cont" matInput placeholder="Capacidad" type="text">
        </div>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <div>
        <input  #Pre class="cont" matInput placeholder="Precio" type="text">
        </div>
      </mat-form-field>
        <div class="cont">
            <button mat-raised-button id="no-button" >CANCELAR</button>
            <button mat-raised-button id="yes-button"  >CREAR</button>
        </div>
    </mat-card-content>  
  </mat-card>