<br>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Listado de Reservaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <h4>Opciones de vista</h4>
            <mat-form-field appearance="fill">
                <mat-label>Opciones</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option [value]="option.viewValue" *ngFor="let option of listaOpciones">{{ option.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field><br>
            <h4>Dpi Usuarios</h4>
            <mat-form-field appearance="fill">
                <mat-label>Opciones</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option [value]="option.dpi" *ngFor="let option of listaDpi">{{ option.dpi }}</mat-option>
                </mat-select>
            </mat-form-field><br>
            <button (click)="verOpcion()" mat-raised-button color="primary">Ver seleccion</button>
        </div>
        <br>
        <div>

            <table>
                <thead>
                    <tr>
                        <th># Reservacion</th>
                        <th>DPI Cliente</th>
                        <th>Fecha entrada</th>
                        <th>Fecha salida</th>
                        <th># Habitaciones</th>
                        <th># Adultos</th>
                        <th># Niños</th>
                        <th>Total (Q)</th>
                    </tr>
                </thead>
                <tr *ngFor="let lista of lista_reservacionesTabla;">
                    <td>{{lista.id_reservacion}}</td>
                    <td>{{lista.dpi}}</td>
                    <td>{{lista.fecha_entrada}}</td>
                    <td>{{lista.fecha_salida}}</td>
                    <td>{{lista.num_habitaciones}}</td>
                    <td>{{lista.num_adultos}}</td>
                    <td>{{lista.num_ninios}}</td>
                    <td>{{lista.total}}</td>
                </tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>