<div class="cardconfig">
    <div class="center">
        <mat-card style="width: 700px;">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> 
                    <mat-label class="titles" style="margin-left: 20px;">Username: </mat-label>
                    <input [(ngModel)]="user.username">
                    <br>
                </p>
                <p>
                    <mat-label class="titles" style="margin-left: 20px;">Password: </mat-label>
                    <input type="password" [(ngModel)]="user.passwd">
                    <br>
                </p>
            </mat-card-content>
            <mat-card-actions style="margin-left: 20px;">
              <button mat-raised-button color="primary" (click)="Login()">Ingresar</button>
              <br>
            </mat-card-actions>
          </mat-card>
    </div>
</div>