$indigocolor: #4b0082;

.card-container {
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
}

.mat-form-field {
  width: 50%;
  margin-left: 25%;
}

.mat-card-actions {
  text-align: center;
  margin-top: 2%;
}

.mat-card-title {
  text-align: center;
  margin-bottom: 5%;
}

.mat-card {
  border-radius: 25px;
  border: 2px solid $indigocolor;
}

.label-archivo {
  margin-left: 25%;
  margin-right: 20%;
  color: gray;
}

.text-area-noresize{
  resize: none;
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .mat-form-field {
    width: 80%;
    margin-left: 10%;
  }
  .mat-button {
    width: 45%;
    font-size: 12px;
  }
  .label-archivo {
    margin-left: 10%;
    margin-right: 5%;
  }
}
